<header>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet distinctio, dolore et ipsum officiis optio rem tenetur totam? Cumque eligendi eum ex exercitationem expedita facere hic in numquam odio sapiente.</h1>
</header>