<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<h1><%= htmlWebpackPlugin.options.my_str %></h1>
<h3><%var str = JSON.stringify(htmlWebpackPlugin.options,null,4)  %><%= str%>></h3>
<img src="<%= htmlWebpackPlugin.options.projectPath %>/image/1.png" alt="">
</body>
</html>