<header>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate doloremque dolores impedit ipsam libero, maiores necessitatibus neque nesciunt officia officiis placeat quaerat qui quidem rem repudiandae saepe temporibus ullam.</h2>
</header>